<% include header.ejs %>
<% include sidebar.ejs %>

<div class="col-md-8">

    <% if(info && info.length){ %>

    <% for(var i = 0, len = info.length;i < len;++i){  var doc = info[i];var clsIndex = i % 4;var panelClsList = ["panel-warning", "panel-success", "panel-info", "panel-success"]; %>
    <div class="panel <%= panelClsList[clsIndex] %>">
        <div class="panel-heading myPanel">
            <a href="/blog/blogdetail?id=<%= doc.id%>"><span class="panel-title glyphicon glyphicon-folder-open" style="height:30px;width:100%;padding:2px 2px;font-size: 20px;color:red;font-weight: 900"><span style="margin-left:5px;font-size:24px;"><%= doc.title %></span></span>
            <span style="font-family:'微软雅黑';font-size: 14px;color:darkblue"><h4 class="">
                    作者:<%= doc.author %></h4>发布时间:<%= doc.create_tm %></span><span style="margin-left:50px;color:blue;">更新时间:<%= doc.update_tm %></span>
            </a></div>
        <div class="panel-body">
            <%- doc.brief %>
            <% if(userName){%>
                <span class="pull-right"><button type="button" class="btn-danger delBlogBtn" value="<%= doc.id%>">删除</button></span>
            <%}%>
        </div>
    </div>
    <% } %>

    <% }else{ %>

    <div class="panel panel-warning">
        <div class="panel-heading">
            <h3 class="panel-title">文章</h3>
        </div>
        <div class="panel-body">
            还没有发布文章哦
        </div>
    </div>

    <% } %>

    <% if(totalCnt){%>
        <div style="text-align: center;">

            <ul class="pagination">
                <% if(page && page == 1){%>
                    <li class="disabled"><a href="#">&laquo;</a></li>
                <%}else{%>
                    <li><a href="/blog/index?type=<%= type%>&page=<%= 1%>">&laquo;</a></li>
                <%}%>

                <% for(var i=1;i<=pageCnt;++i){%>
                    <% if(page == i){%>
                        <li class="active"><a href="/blog/index?type=<%= type%>&page=<%= i%>"><%= i%></a></li>
                    <%}else{%>
                        <li><a href="/blog/index?type=<%= type%>&page=<%= i%>"><%= i%></a></li>
                    <%}%>
                <%}%>

                <% if(pageCnt == page){%>
                    <li class="disabled"><a href="#">&raquo;</a></li>
                <%}else{%>
                    <li><a href="/blog/index?type=<%= type%>&page=<%= pageCnt%>">&raquo;</a></li>
                <%}%>
            </ul>
        </div>
    <%}%>

</div>
<% include footer.ejs %>
<script type="text/javascript">
    require(["/js/main.js"], function () {
        require(["/js/app/blog.js"]);
    });
</script>

