<!DOCTYPE html>
<html lang="en">
<head>
    <title><%= title %></title>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="description" content="">
    <meta name="author" content="">
    <meta name="viewport" content="width=device-width, initial-scale=1.0"><!--响应式布局--->
    <!--<link rel='stylesheet' href='/stylesheets/style.css'/>-->
    <link href="lib/bootstrap/css/bootstrap.min.css" rel="stylesheet" media="screen">
    <link href="lib/bootstrap/css/bootstrap-responsive.min.css" rel="stylesheet"><!--响应式布局--->
    <link rel='icon' href='favicon.ico ' type=‘image/x-ico’ />
    <style type="text/css">
        body {
            padding-top: 60px;
            padding-bottom: 40px;
        }
        .sidebar-nav {
            padding: 9px;
        }
        .nav-header {
            color:#1B1B1B;
            font-size:20px;
            font-family: "Source Code Pro", "Consolas", "Monaco", "Bitstream Vera Sans Mono", "Courier New", Courier, monospace;
        }
        .navbar-text.pull-right {
            float: right;
            padding-right:10px;
        }
        .navbar-text.pull-right a{
            color:#38D63B;
            margin:0 10px;
        }


        @media (max-width: 980px) {
            /* Enable use of floated navbar text */
            .navbar-text.pull-right {
                float: none;
                padding-left: 10px;
                padding-right: 10px;
            }
        }
    </style>
</head>
<body>
<div class="navbar navbar-inverse navbar-fixed-top" role="navigation">
    <div class="navbar-inner">
        <div class="container-fluid">
            <button type="button" class="btn btn-navbar" data-toggle="collapse" data-target=".nav-collapse">
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
            </button>
            <input type="text" style="display: none;" id="idLang" value="<%= lang%>" />
            <a class="brand" href="#" style="font-family: '华文行楷';color:#ff0000;font-size:28px;"><%= projectName %></a>
            <div class="nav-collapse collapse">
                <p class="navbar-text pull-right">
                    <% if(userName){ %>
                        用户:<a href="#" class="navbar-link"><%= userName %></a>
                        <a href="/user/logout" class="navbar-link">退出</a>
                    <%}else{ %>
                        <a href="javascript:void(0);" id="idLangSet" style="color: #ff0000"><span class="glyphicon "></span><strong><% if(lang == 'ch'){ %>
                                    英文
                                <%}else{%>
                                    Chinese
                                <%}%></strong>
                        </a>
                        <a href="#"><span class="glyphicon glyphicon-user"></span> <% if(lang == 'en'){%>
                                register
                           <% }else{%>
                                注册
                           <%}%></a>
                        <a href="/user/login"><span class="glyphicon glyphicon-log-in"></span> <% if(lang == 'en'){%>
                                login
                           <% }else{%>
                                登录
                           <%}%></a>
                    <% }%>
                </p>
                <ul class="nav">
                    <% if(lang =='ch'){%>
                        <li class="active"><a href="#">主页</a></li>
                        <li><a href="#about">关于</a></li>
                        <li><a href="#contact">联系</a></li>
                    <%}else{ %>
                        <li class="active"><a href="#">Home</a></li>
                        <li><a href="#about">About</a></li>
                        <li><a href="#contact">Contact</a></li>
                    <%}%>
                </ul>
            </div><!--/.nav-collapse -->
        </div>
    </div>
</div>

<div class="container-fluid">
    <div class="row-fluid">
        <div class="span2">
            <div class="well sidebar-nav">
                <ul class="nav nav-list">
                    <% if(sidebar && sidebar.length){%>
                        <% for(var i= 0,len = sidebar.length;i < len;++i){ var lan =lang; %>
                                 <li class="nav-header"><%= sidebar[i][lan]%></li>
                                    <li ><a href="#">Link</a></li>
                                    <li><a href="#">Link</a></li>
                                    <li><a href="#">Link</a></li>
                                    <li><a href="#">Link</a></li>
                        <%}%>
                    <%}%>
                </ul>
            </div><!--/.well -->
        </div><!--/span-->
        <!--class="active"-->